<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CID001</key>
	<string>icici_bank.png</string>
	<key>CID002</key>
	<string>axis_bank.png</string>
	<key>CID003</key>
	<string>citi_bank.png</string>
	<key>CID004</key>
	<string>yes_bank.png</string>
	<key>CID005</key>
	<string>State_bank_of_india.png</string>
	<key>CID006</key>
	<string>detuch_bank.png</string>
	<key>CID007</key>
	<string>Union_bank.png</string>
	<key>CID008</key>
	<string>indian_bank.png</string>
	<key>CID009</key>
	<string>Federal.png</string>
	<key>CID010</key>
	<string>hdfc.png</string>
	<key>CID011</key>
	<string>idbi.png</string>
	<key>CID012</key>
	<string>State_bank_of_hyderabad.png</string>
	<key>CID013</key>
	<string>State_bank_of_bikaner_and_jaipur.png</string>
	<key>CID014</key>
	<string>State_bank_of_mysore.png</string>
	<key>CID015</key>
	<string>State_Bank_of_Travancore.png</string>
	<key>CID016</key>
	<string>andra_bank.png</string>
	<key>CID019</key>
	<string>bank_of_india.png</string>
	<key>CID021</key>
	<string>bank_of_maharshtra.png</string>
	<key>CID023</key>
	<string>central_bank.png</string>
	<key>CID024</key>
	<string>citi_union_bank.png</string>
	<key>CID025</key>
	<string>corporation_bank.png</string>
	<key>CID026</key>
	<string>DCB.png</string>
	<key>CID027</key>
	<string>Indian_overseas_bank.png</string>
	<key>CID028</key>
	<string>indusind_bank.png</string>
	<key>CID029</key>
	<string>kotak_mahindra.png</string>
	<key>CID031</key>
	<string>karnataka_bank.png</string>
	<key>CID032</key>
	<string>Karur_Vyasa_Bank.png</string>
	<key>CID033</key>
	<string>kotak_mahindra.png</string>
	<key>CID036</key>
	<string>punjab_national_bank.png</string>
	<key>CID037</key>
	<string>south_indian_bank.png</string>
	<key>CID041</key>
	<string>united_bank_of_india.png</string>
	<key>CID042</key>
	<string>vijaya_bank.png</string>
	<key>CID043</key>
	<string>State_bank_of_patalia.png</string>
	<key>CID044</key>
	<string>punjab_national_bank.png</string>
	<key>CID045</key>
	<string>Catholic.png</string>
	<key>CID046</key>
	<string>Bank_of_baroda.png</string>
	<key>CID047</key>
	<string>ING.png</string>
	<key>CID050</key>
	<string>icici_bank.png</string>
	<key>CID051</key>
	<string>canara_bank.png</string>
	<key>CID053</key>
	<string>cosmos_bank.png</string>
	<key>CID054</key>
	<string>punjab_national_bank.png</string>
	<key>CID070</key>
	<string>UCO_bank.png</string>
</dict>
</plist>
